$breakpoints: (
  sp: "screen and (max-width: 767px)",
  pc: "screen and (min-width: 768px)",
);

@mixin mq($breakpoint: pc) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

body {
  font-family: "Yusei Magic", "Poetsen One", sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background: #0a3d62;
  color: #fff;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.header__title {
  font-size: 40px;
}

.chat-container {
  flex: 1 1 auto;
  overflow-y: auto;
  padding: 10px;
  padding-bottom: 140px;
  box-sizing: border-box;
  // margin-bottom: 100px; // input-area高さ分
  margin-top: 80px; // header高さ分
}

.chat {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
  white-space: pre-wrap;
}

#chatEnd {
  height: 0; /* 入力欄の高さに合わせて調整 */
}


.message {
  padding: 12px 18px;
  border-radius: 12px;
  line-height: 1.6;
  max-width: 80%;
  word-wrap: break-word;
}

.user {
  align-self: flex-end;
  background: #38ada9;
  color: #fff;
}

.ai {
  align-self: flex-start;
  background: #fff;
  border: 1px solid #ccc;
  color: #333;
}

.input-area {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  width: 100%;
  max-width: 100%;
  padding: 20px;
  background: #f5f6fa;
  border-top: 1px solid #ccc;
  flex: 0 0 auto; /* 高さ固定 */
  z-index: 200;
}

.input-box {
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  gap: 20px;

  @include mq(sp) {
    display: block;
  }
}

#question {
  flex: 1;
  padding: 10px;
  border: 2px solid #0a3d62;
  border-radius: 10px;
  resize: none;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
}

#sendBtn {
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 8px;
  background: #38ada9;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.2s;
  box-sizing: border-box;

  @include mq(sp) {
    width: 100%;
    margin-top: 10px;
  }

  &:hover {
    background: darken(#38ada9, 10%);
  }
}
